.TodoItem {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.TodoItem img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.TodoItem__username {
  font-weight: bold;
}

.TodoItem input[type="checkbox"] {
  appearance: none;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.TodoItem input[type="checkbox"]:checked {
  background-color: #fa8f68c4;
}

.TodoItem__p {
  cursor: pointer;
  border-radius: 5px;
}

.completed {
  background-color: #cf4040;
  text-decoration: line-through;
  opacity: 0.5;
  transition: background 400ms;
}

.completed:hover {
  opacity: 1;
  background-color: #db6060;
}
